
body {margin:0 auto;overflow:hidden;}  

/*=============第一页=============*/
.header {
    /*margin: 0 auto;*/
    /*width: auto;
    height: auto;
    background-color: #1d7eb8; /*#000;*/*/
    /*position: relative;*/
}
.header canvas {
    width: auto;
    height: auto; /*默认全屏显示 可自己设置高度640px*/;
    display: inline-block;
    vertical-align: baseline;
    z-index:-1;
}

.header .top_logo{
	margin:0 auto;
	width:auto;
	height:auto;
	position:absolute;
	z-index:100;
	top:10px;
	}	

.header .nav{
	width:auto;
	height:auto;
	position:absolute;
	z-index:30;
	top:270px;
	left: 33%;  /*50%*/
	
	}
.header .nav a.gv { 
	text-decoration:none; 
	background:url(img/nav_gv.png) repeat 0px 0px; 
	width: auto; 
	height: 43px; 
	display: block; 
	text-align:center;		/*水平居中*/
	line-height:43px;  /*上下居中*/
	cursor:pointer;
	float:left;/*左浮动*/
	margin:8px 2px 25px 25px;
	font:18px/43px 'microsoft yahei'; color:#066197;
	}
.header .nav a.gv span {
	 display: none;
	 	
}
.header .nav a.gv:hover { 
	background: url(img/nav_gv.png) repeat 0px -43px; 
	color:#1d7eb8;
	-webkit-box-shadow: 0 0 6px #1d7eb8;
	transition-duration: 0.5s;
	}
	
.header	.topcn{
	width: auto;
	top:200px;
	left: 50%;
	margin-left: -490px;
	position:absolute;
	z-index:20;

	}